<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tvd.r_apdrpbigdata">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity
            android:name=".Summarization.Billing_Summarization.BillingSummarizationTariffWiseChart2"
            android:screenOrientation="landscape"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".adapters.DashboardGraphs"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".HomeDashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".BDA_DashBoard.DashBoard_Tariff_Wise"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".BDA_DashBoard.DashBoard_Overall"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".OBCB_Summerization.OBCB_Summerization.Customer_Billed_Summerization.OBCBCustomer1"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".OBCB_Summerization.OBCB_Summerization.Customer_Billed_Summerization.OBCBCustomer2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".OBCB_Summerization.OBCB_Summerization.Customer_Billed_Summerization.OBCBCustomer3"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".OBCB_Summerization.OBCB_Summerization.Customer_Billed_Summerization.OBCBCustomer4"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".OBCB_Summerization.OBCB_Summerization.Billed_Summerization.OBCBBilledCustomer1"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".OBCB_Summerization.OBCB_Summerization.Billed_Summerization.OBCBBilledCustomer2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".OBCB_Summerization.OBCB_Summerization.Billed_Summerization.OBCBBilledCustomer3"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".OBCB_Summerization.OBCB_Summerization.Billed_Summerization.OBCBBilledCustomer4"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".OBCB_Summerization.OBCB_Summerization.UnBilled_Summerization.OBCBUnBilledCustomer1"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".OBCB_Summerization.OBCB_Summerization.UnBilled_Summerization.OBCBUnBilledCustomer2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".OBCB_Summerization.OBCB_Summerization.UnBilled_Summerization.OBCBUnBilledCustomer3"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".OBCB_Summerization.OBCB_Summerization.UnBilled_Summerization.OBCBUnBilledCustomer4"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Summarization.Payment_Summarization.Payment_Summarization_TariffWise"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Summarization.Abnormal_Subnormal_Summarization.Subnormal_Summarization_Graph"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Summarization.Abnormal_Subnormal_Summarization.Abnormal_Summarization_Graph_Chart"
            android:screenOrientation="landscape"
            tools:ignore="InnerclassSeparator"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".Summarization.Abnormal_Subnormal_Summarization.Abnormal_Summarization_Graph_Report"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Summarization.Abnormal_Subnormal_Summarization.Abnormal_Summarization_Graph"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Summarization.Feeder_mapping_customer_Summarization.Customer_Summarization_TariffWise"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Summarization.Feeder_mapping_customer_Summarization.Customer_Summarization_TariffWise_report"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Summarization.Feeder_mapping_customer_Summarization.Customer_Summarization_Tariffwise_Chart"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Summarization.Feeder_mapping_customer_Summarization.Customer_Summarization_Overall"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Summarization.Payment_Summarization.Payment_Summarization_Chart"
            android:screenOrientation="landscape"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Summarization.Payment_Summarization.Payment_Summarization_Overall_Report"
            android:screenOrientation="landscape"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Summarization.Payment_Summarization.Payment_Summarization_Overall"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Summarization.Billing_Summarization.Billing_sum_yearwise"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Summarization.Billing_Summarization.BillingSummarization_Tariffwise_Report"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Summarization.Billing_Summarization.BillingSummarization_TariffWise"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".Summarization.UnBilled_Summerization.UnBilled_Summerization_Tariff"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Summarization.UnBilled_Summerization.UnBilled_Summerization_without_Tariff"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Summarization.DisconnectionSummarization.DisConnection_Summerization"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Summarization.DepositSummarization.Deposit_Summarization"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Summarization.UnBilled_Summerization.UnBilled_Summerization_Tariff_chart"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Summarization.UnBilled_Summerization.UnBilled_Summerization_Tariff_Report"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Summarization.DisconnectionSummarization.Disconnection_Summerization_Report"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Summarization.DisconnectionSummarization.DisConnection_Summerization_chart"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Summarization.DepositSummarization.Deposit_Summarization_Chart"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Summarization.DepositSummarization.Deposit_Summarization_Report"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"/>
    </application>

</manifest>